* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffff00;
}

a {
    text-decoration: none;
    transition: all 0.7s;
    color: #fff !important;
}

a:hover {
    color: var(--primary-color) !important;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #000 !important;
    padding: 20px 70px !important;

}
.navbar-nav{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
}
.navbar-nav a{
    font-size: 14px !important;
}
.navbar h1 a {
    color: var(--primary-color) !important;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero {
    position: relative;
    height: 115vh;
    width: 100%;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.hero-head {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 0px;
    top: 24%;
    left: 6%;
}

.hero-head h1 {
    background-color: var(--primary-color);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    transform-origin: left;
}

.hero-text-1 {
    width: 27% !important;
    box-shadow: 0px 1px 5px !important;
    z-index: 50 !important;
    color: #000 !important;
}

.hero-text-2 {
    font-size: 120px !important;
    position: relative !important;
    top: -10px !important;
    box-shadow: 0px 1px 5px !important;
    z-index: 25 !important;
    left: 40px !important;
    color: #000 !important;
}

.hero-text-3 {
    width: 70% !important;
    position: relative !important;
    top: -15px !important;
    left: 230px !important;
    color: #000 !important;
}

.hero-head h1:nth-child(1) {
    width: 27%;
    font-size: 60px;
}

.hero-head h1:nth-child(2) {
    font-size: 120px;
    position: relative;
    top: -25px;
    left: 40px;
}

.hero-head h1:nth-child(3) {
    width: 70%;
    position: relative;
    top: -20px !important;
    left: 230px;
    font-size: 70px;
}

.hero-serv {
    position: absolute;
    z-index: 100;
    display: flex;
    gap: 10px;
    bottom: 5%;
    left: 6%;
    padding: 0 20px;
    color: #000 !important;
}

.serv-1,
.serv-2 {
    display: flex;
    gap: 10px;
}

.check {
    position: absolute;
    z-index: 100;
    display: flex;
    gap: 10px;
    bottom: 15%;
    color: #fff;
    left: 6%;
    text-decoration: none;
    font-size: 16px;
}

.check:hover {
    color: #fff !important;
}

.hero-serv h1 {
    background-color: var(--primary-color);
    font-size: 30px;
    padding: 5px;
    transition: all 0.3s;
}

.hero-serv h1:hover {
    background-color: #4A4A4C;
    color: #fff;
    cursor: pointer;
}

/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
    /* Color of the scrollbar track (black) */
    border-radius: 10px;
    /* Rounded corners for the track */
    margin: 5px;
    /* Add some space around the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffff0f;
    /* Color of the scrollbar handle (yellow) */
    border-radius: 10px;
    /* Rounded corners for the handle */
    border: 3px solid #000;
    /* Border to ensure the rounding effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e6e600;
    /* Slightly darker yellow when hovered */
}

/* Remove arrows */
::-webkit-scrollbar-button {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #ffff0f #000;
    /* Color of the handle and track */
}

body {
    scrollbar-width: thin;
    /* Adjust scrollbar width */
    scrollbar-color: var(--primary-color) #000;
    /* Handle and track color for Firefox */
}
.section-1 {
    width: 100%;
    padding: 40px 70px;
}

.sec-1-head{
    width: 100% !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.sec-1-head h1{
    color: #000 !important;
    background-color: var(--primary-color) !important;
    padding: 3px !important;
    font-family: "Oswald", sans-serif;
}
.sec-1-text1{
    font-size: 60px;
    z-index: 2 !important;
}
.sec-1-text2{
    font-size: 80px;
    z-index: 10 !important;
    position: relative;
    box-shadow: 0px -1px 5px #000 !important;
    top: -8px;
}
.sec-1-vid {
    display: flex;
    width: 100%;
    gap: 30px;
}

.sec-1-vid video {
    width: 50%;
    height: auto;
}


@media (max-width: 1024px) {
    nav {
        padding: 20px 30px;
    }

    .part-1 h1 {
        font-size: 45px;
    }

    .hero-head {
        top: 28%;
        left: 7%;
    }

    .hero-head h1:nth-child(1) {
        width: 100%;
        font-size: 50px;
    }

    .hero-head h1:nth-child(2) {
        font-size: 100px;
        top: -5px;
        left: 20px;
    }

    .hero-head h1:nth-child(3) {
        width: 100%;
        top: -10px;
        left: 40px;
    }

    .hero-serv {
        bottom: 3%;
        padding: 0 40px;
    }

    .check {
        bottom: 18%;
        font-size: 15px;
    }

    .hero-serv h1 {
        font-size: 25px;
    }
}
@media (max-width:991px) {
    .none{
        display: none;
    }
}
@media (max-width: 850px) {
    .hero-serv {
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 1%;
        padding: 0 40px;
    }

    .serv-1,
    .serv-2 {
        gap: 20px;
    }

    .hero-serv h1 {
        width: 100%;
        text-align: center;
        height: 40px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }

    .part-1 h1 {
        font-size: 40px;
    }

    .part-2 {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .hero-head {
        top: 26%;
        left: 5%;
    }

    .hero-head h1:nth-child(1) {
        width: 100%;
        font-size: 40px;
    }

    .hero-head h1:nth-child(2) {
        font-size: 80px;
        top: -5px;
        left: 10px;
    }

    .hero-head h1:nth-child(3) {
        width: 100%;
        top: -5px;
        left: 20px;
    }

    .hero-serv {
        bottom: 2%;
    }

    .check {
        bottom: 20%;
        font-size: 14px;
    }

    .hero-serv h1 {
        font-size: 20px;
    }
}

@media (max-width:580px) {
    .navbar{
        padding: 10px 10px !important;
    }
    .hero{
        height: 150vh !important;
    }
    .hero-head {
        top: 22%;
        left: 8%;
    }
    .hero-text-1{
        font-size: 32px;
        width: 21% !important;
    }
    .hero-text-2{
        font-size: 90px !important;
    }
    .hero-text-3{
        font-size: 50px !important;
        width: 58% !important;
    }

    .hero-serv{
        padding: 0 30px;   
    }
    .serv-1,
    .serv-2 {
        flex-direction: column;
    }
    .hero-serv h1{
        font-size: 30px;
        height: 45px;
    }
    .check{
        top: 58%;
    }
    .sec-1-vid {
        flex-direction: column;
    }
    .sec-1-vid video{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .part-1 h1 {
        font-size: 35px;
    }

    .hero-head {
        top: 26%;
        left: 6%;
    }

    .hero-head h1:nth-child(1) {
        width: 30% !important;
        font-size: 36px !important;
    }

    .hero-head h1:nth-child(2) {
        font-size: 55px !important;
        top: -5px;
        left: 40px !important;
    }

    .hero-head h1:nth-child(3) {
        width: 75% !important;
        top: -5px;
        left: 200px !important;
        font-size: 40px !important;
    }

    .hero-serv {
        bottom: 0;
        padding: 0 20px;
    }

    .check {
        bottom: 25%;
        font-size: 15px;
    }
    .section-1{
        padding: 30px 20px;
    }
}
@media (max-width:380px) {
    .hero{
        height: 100vh;
    }
    .hero-head {
        top: 27%;
        left: 6%;
    }

    .hero-head h1:nth-child(1) {
        width: 33% !important;
        font-size: 32px !important;
    }

    .hero-head h1:nth-child(2) {
        font-size: 50px !important;
        top: -5px;
        left: 40px !important;
    }

    .hero-head h1:nth-child(3) {
        width: 75% !important;
        top: -5px;
        left: 150px !important;
        font-size: 35px !important;
    }
    .serv-2 h1:nth-child(1){
        height: 80px;
    }
    .serv-2 h1:nth-child(2){
        height: 80px;
    }
}